html{
	font-size:16px;
}

body{
	line-height:1.5;
}

/* Header */

header{
	background-color:#fff;
	padding:0 1.5rem;
}

span{
	display:block;
}

.desktop-nav ul{
	height:4rem;
	display:flex;
	align-items:center;
}

.desktop-nav ul li:nth-child(3){
	flex-grow:1;
	color:#9b9b9b;
}

.desktop-nav ul li:nth-child(2){
	font-weight:bold;
}

.desktop-nav ul li:nth-child(n+3){
	padding-right:1rem;
	color:#565656;
}

.desktop-nav ul li:last-child{
	padding-right:0;
}

/*.school-name{
	display:flex;
}

.school-name li:first-child{
	font-weight:bold;
}

.desktop-logo{
	display:flex;
	align-items:center;
	flex-grow:1;
}

.desktop-nav{
	display:flex;
	list-style-type:none;
}

.desktop-nav li{
	padding-right:1rem;
}

.desktop-nav li:last-child{
	padding-right:1.5rem;
}*/

.mobile-nav{
	display:none;
}

/* Banner */

.banner{
	background-color:#d8d8d8;
	padding:2rem 0 2rem 1.5rem;
	display:flex;
	align-items:center;
}

.banner img{
	width:60%;
}

/*.banner-content{
	display:flex;
	flex-direction:column;
	padding-left:2.5rem;
	height:20rem;
	width:25%;
	justify-content:space-between;
}*/

.banner-content{
	padding-left:2.5rem;
	width:25%;
	height:25rem;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}

.banner-content span{
	padding:0.5rem 0;
	background-color:#4a4a4a;
	text-align:center;
	color:#fff;
	width:100%;
	font-weight:bold;
}

h1{
	font-weight:bold;
	font-size:3.5rem;
	color:#4a4a4a;
}

h3{
	font-size:2rem;
	color:#4a4a4a;
	font-weight:bold;
}

/* Headlines */

.information-display{
	display:flex;
	background-color:#f5f4f5;
}

.main-headline{
	display:flex;
	flex-direction:column;
	width:60%;
	padding:2rem 1.5rem 2rem 1.5rem;
}

.main-headline-content.pitch{
	padding-top:2rem;
}

.main-headline h1{
	padding-bottom:1.5rem;
}

.side-headlines{
	border-left:1px solid #e0e2e2;
	display:flex;
	flex-direction:column;
	padding:1rem 0;
}

.side-headline{
	display:flex;
	align-items:center;
	padding:1rem;
}

.side-headlines .side-headline:first-child{
	border-bottom:1px solid #e0e2e2;
}

.side-headline-content h3, p{
	padding-bottom:0.5rem;
}

.side-headline img{
	width:35%;
	padding-right:1rem;
}

.side-headline.guest{
	background-color:#d8d8d8;
}

a{
	color:#4a90e2;
}

/* Courses */

.courses-display{
	padding-bottom:1rem;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	background-color:#eaebec;
}

.title.learn{
	padding:2rem 0;
	background-color:#eaebec;
	text-align:center;
}

.course{
	padding:1rem 1rem;
}

.course-content{
	background-color:white;
	padding:1rem 1rem 1.5rem 1rem;
}

.course-content li:nth-child(n+2){
	color:#767676;
}

.courses-spacing{
	padding:0.5rem 0;
}

@media only screen and (min-width:470px){
	.side-headline img:nth-child(n+2){
		display:none;
	}
	
	.courses-display-mobile{
		display:none;
	}
}

/* Thesis */
.title.thesis{
	padding:2rem 0;
	background-color:#f3f5f5;
	text-align:center;
}

.main-headline-content.thesis li:last-child{
	color:#767676;
}

.thesis-display{
	background-color:#f5f4f5;
}

video{
	height:25rem;
	padding-bottom:1.5rem;
}

.side-headline.fisma{
	background-color:#d8d8d8;
}

.side-headlines.thesis{
	border:0;
}

.side-headlines.thesis li:last-child{
	color:#767676;
}

/* Footer */

footer{
	background-color:#f5f4f5;
	height:4rem;
	border-top:1px solid #e0e2e2;
	color:#767676;
}

footer ul{
	display:flex;
}

footer ul li:first-child{
	flex-grow:1;
}

footer ul li:nth-child(n+2){
	padding-right:1rem;
}

@media only screen and (max-width:470px){
	/* Header */
	
	.mobile-nav{
		display:flex;
		list-style-type:none;
		justify-content:space-around;
		width:100%;
	}
	
	.desktop-nav{
		display:none;
	}
	
	.desktop-logo{
		display:none;
	}
	
	/* Banner */
	
	.mobile-filler{
		height:11.25rem;
		background-color:#9b9b9b;
	}
	
	.banner{
		padding:0;
	}
	
	.banner img{
		display:none;
	}
	
	.banner-content{
		width:100%;
		padding:2rem 1rem;
		justify-content:flex-start;
		height:auto;
	}
	
	h1{
		font-weight:bold;
		font-size:2.5rem;
		color:#4a4a4a;
		padding-bottom:2rem;
	}

	h3{
		font-size:2rem;
		color:#4a4a4a;
		padding-bottom:1.5rem;
		font-weight:bold;
	}
	
	.banner-content span{
		background-color:#9b9b9b;
	}
	
	/* Headlines */
	
	.main-headline.pitch{
		display:none;
	}
	
	.side-headlines{
		justify-content:center;
	}
	
	.container{
		padding:0;
	}
	
	.side-headlines{
		flex-direction:column;
		border:none;
		padding:1rem 1rem 2rem 1rem;
	}
	
	.side-headline-content{
		padding-bottom:1rem;
		padding-left:1rem;
	}
	
	.side-headline.guest{
		background-color:transparent;
	}
	
	.side-headline{
		flex-direction:column;
		align-items:flex-start;
		padding-bottom:1rem;
	}
	
	.side-headlines .side-headline:first-child{
		border:none;
	}
	
	.side-headline img:first-child{
		display:none;
	}
	
	.side-headline img{
		width:100%;
		padding:0;
		padding-bottom:1rem;
	}
	
	/* Courses */
	
	.courses-display-mobile{
		border:1px solid #e9eaea;
		background-color:#f5f4f5;
		padding:0 1rem 1.5rem 1rem;
	}
	
	.courses-display-mobile li{
		padding:1rem 1rem;
		background-color:#d8d8d8;
		font-weight:bold;
		margin-bottom:0.5rem;
	}
	
	.courses-display{
		display:none;
	}
	
	.title.learn{
	padding:2rem 0 1rem 0;
	background-color:#f5f4f5;
	text-align:center;
	}
	
	/* Thesis */
	
	.title.thesis h1{
		padding:0;
	}
	
	.main-headline.thesis{
		width:100%;
		padding:0;
	}
	
	.side-headlines.thesis{
		display:none;
	}
	
	.main-headline-content.thesis{
		display:none;
	}
	
	/* Footer */
	
	footer{
		background-color:#f3f5f5;
		height:0;
		border-top:0;
		padding:1rem 0 1rem 1.5rem;
		color:#4a4a4a;
	}
	
	footer ul li:nth-child(n+2){
		display:none;
	}
}